/* BLOG CSS */

#blog{
    padding: 85px 0 55px;

    .blog_wrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (max-width:992px){
            flex-direction: column-reverse;
        }

        .blog_col{
            width: calc(100% / 2 - 15px);
            height: auto;
            position: relative;
            z-index: 1;

            @media (max-width:992px){
                width: fit-content;
                padding: 28px;
            }
            @media (max-width:767px){
                padding: 20px;
            }
        }

        & h3{
            width: 80%;
            font-size: 40px;
            line-height: 50px;
            font-weight: 600;
            text-transform: uppercase;
            margin-bottom: 20px;

            @media (max-width:992px){
                width: 100%;
            }
            @media (max-width:767px){
                width: 100%;
                font-size: 30px;
                line-height: 45px;
            }
        }

        & p{
            width: 80%;
            margin: 0;
            padding: 0;
            font-size: 16px;
            line-height: 28px;
            color: var(--font-color);

            @media (max-width:992px){
                width: 100%;
                text-align: justify;
            }
        }

        .blog_image{
            position: relative;
            text-align: center;

            &::after{
                content: " ";
                position: absolute;
                border: 10px solid var(--secondary-color);
                right: 45px;
                left: -45px;
                bottom: 45px;
                top: -45px;
                z-index: -1;
                border-radius: 0 30px;
            }

            @media (max-width:767px){
                &::after{
                    left: 0;
                }
            }
            & img{
                border-radius: 0 30px;
                max-width: 100%;

                @media (max-width:767px){
                    max-width: 85%;
                }
            }
        }
    }
}